.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .w-50vw,
    input {
        width: 50vw !important;
        max-width: 500px !important;
    }

    .h-50px {
        height: 50px !important;
        max-height: 50px !important; 
    }
}

.container-form {
    width: 100%;
    display: flex;
    justify-content: center;
}

#inputfile {
    display: none;
}

.container-uploaded-file,
.container-users {
    padding: 20px;
    border: solid 1px grey;
}