<div class="main-container">

    <div class="container-my-projects">
        
    </div>
    <div class="right-side-user">
        <div class="container-info">
            <div>
                <span>
                    Alessandro
                </span>
            </div>
            <div>
                <span>
                    De Micco
                </span>
            </div>
        </div>
        <button pButton pRipple type="button" icon="pi pi-user" styleClass="p-button-lg" class="p-button-rounded p-button-info p-button-outlined"></button>
    </div>

</div>    
