<div class="container">
    <div *ngFor="let project of projects" class="mr-5px">
        <button pButton 
                pRipple 
                type="button" 
                class="p-button-secondary " 
                [ngClass]="{'selected': project.isActive, 'not_selected': !project.isActive}"
                (click)="select(project)"
                [label]="project.name" ></button>
                
    </div>
    <div class="mr-5px">
        <button pButton 
                pRipple 
                icon="pi pi-plus"
                type="button" 
                class="p-button-secondary new_project"
                (click)="create()"
                [label]="newProject"></button>
    </div>
</div>